{% extends 'base.html' %}

{% block content %}

<div class="user_Wrapper">
    <div class="user_header">
        <div>
            <img class="user_background" src="/static/img/user_bg.jpg">
        </div>
        <div class="user_editMain" >
            <form action="" enctype='multipart/form-data' method='POST'>
                <div class="user_head"
                     style="background-image:url({{ user['headurl'] }});background-size: 160px 160px;">
                    <label onclick="showSaveImg()" onblur="hideSaveImg()">
                        <input type="file" accept="image/png,image/jpeg"
                               class="user_editHead" name="headImg">
                        <div class="user_headSvg">
                            <svg viewBox="0 0 24 24" height="36" width="36">
                                <g>
                                    <path d="M20.094 6S22 6 22 8v10.017S22 20 19 20H4.036S2 20 2 18V7.967S2 6 4 6h3s1-2 2-2h6c1 0 2 2 2 2h3.094zM12 16a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7zm0 1.5a5 5 0 1 0-.001-10.001A5 5 0 0 0 12 17.5zm7.5-8a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                                          fill-rule="evenodd"
                                          fill="#fff"></path>
                                </g>
                            </svg>
                        </div>
                        <div style="color:#fff;cursor: pointer">修改我的头像</div>
                    </label>
                    <input type="submit" name="headImg" value="保存"
                           class="user_headSave" id="headImg">
                </div>
            </form>
            <div class="user_detailWrapper">
                <div class="user_detail"
                     onmousemove="showEditBut('nickname_editBut')"
                     onmouseout="hideEditBut('nickname_editBut')">
                    <div class="user_name" id="edit_nickname_c">{{ user['nickname'] }}
                        <button class="Field_modify" id="nickname_editBut"
                                onclick="showEdit('edit_nickname');return false;">
                            <svg viewBox="0 0 12 12" height="16" width="12">
                                <g>
                                    <path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z"
                                          fill-rule="evenodd"
                                          fill="#1d5399"></path>
                                </g>
                            </svg>
                            修改
                        </button>
                        <a href="{{ url_for('user.show_user') }}">
                            <button class="user_returnBut">返回我的主页</button>
                        </a>
                    </div>
                </div>
                <div class="user_editFields">
                    <form method="post" name="post_nickname" action="#">
                        <div class="user_editField"
                             style="display: none" id="edit_nickname">
                            <div class="Field_name">昵称</div>
                            <div class="Field_detail">
                                <div class="Field_content">
                                </div>
                                <div class="Field_hide" style="display: inline">
                                    <input name="nickname"
                                           class="Field_input"
                                           placeholder="{{ user['nickname'] }}"
                                           value="{{ request.form['nickname'] }}">
                                    <div class="Field_buttons">
                                        <input class="Field_submit" type="submit" value="保存">
                                        <button class="Field_cancel" onclick="hideEdit('edit_nickname');return false;">
                                            取消
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form method="post" name="post_sign" action="#">
                        <div class="user_editField"
                             onmousemove="showEditBut('sign_editBut')"
                             onmouseout="hideEditBut('sign_editBut')">
                            <div class="Field_name">签名</div>
                            <div class="Field_detail">
                                <div class="Field_content" id="edit_sign_c">
                                    <span class="Field_text">{{ user['sign']}}</span>
                                    <button class="Field_modify" id="sign_editBut"
                                            onclick="showEdit('edit_sign');return false;">
                                        <svg viewBox="0 0 12 12" height="16" width="12">
                                            <g>
                                                <path d="M.423 10.32L0 12l1.667-.474 1.55-.44-2.4-2.33-.394 1.564zM10.153.233c-.327-.318-.85-.31-1.17.018l-.793.817 2.49 2.414.792-.814c.318-.328.312-.852-.017-1.17l-1.3-1.263zM3.84 10.536L1.35 8.122l6.265-6.46 2.49 2.414-6.265 6.46z"
                                                      fill-rule="evenodd"
                                                      fill="#1d5399"></path>
                                            </g>
                                        </svg>
                                        修改
                                    </button>
                                </div>
                                <div class="Field_hide" id="edit_sign">
                                    <input name="sign" class="Field_input"
                                           placeholder="{{user['sign']}}"
                                           value="{{ request.form['sign'] }}">
                                    <div class="Field_buttons">
                                        <input class="Field_submit" type="submit" value="保存">
                                        <button class="Field_cancel" onclick="hideEdit('edit_sign');return false;">取消
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

