{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}知乎-与世界分享你刚编的故事{% endblock %}

{% block page_content %}

<!--正文部分start-->
<a class="zg-anchor-hidden" name="daily-hot"></a>
<a class="zg-anchor-hidden" name="monthly-hot"></a>
<ul class="tab-navs clearfix">
<li class="tab-nav active"><a class="anchor" href="{{ url_for('.show_all') }}" data-za-c="explore" data-za-a="visit_explore_daily_trendings" data-za-l="explore_daily_trendings">全部</a></li>
<li class="tab-nav"><a class="anchor" href="{{ url_for('.show_followed') }}" data-za-c="explore" data-za-a="visit_explore_monthly_trendings" data-za-l="explore_monthly_trendings">我关注的</a></li>
</ul>
{% include '_posts.html' %}
{% endblock %}
<!--正文部分end-->

<!--右侧部分-->
{% block right_content %}
{#{% include '_right.html' %}#}
{% endblock %}
<!--右侧部分-->

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}